div(ng-include='"components/navbar/navbar.html"')
.container

  p
    h4 Import all video-trajectories from MediaQ: 
    button( class="btn btn-md btn-default", ng-click='importMediaQ()', ladda="loading", data-style="zoom-out", data-spinner-color="#123456") 
      span( class="ladda-label") {{mediaq}}
  p
    h4 Upload a gpx trajectory: 
    form(action='/api/trajectories/gpx', enctype='multipart/form-data', method='post')
      input(id="input-1a", name='upload', type="file", class="file")

  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right