div(ng-include='"components/navbar/navbar.html"')
.container

  p
    | Import all video-trajectories from MediaQ: 
    button( class="btn btn-md btn-default", ng-click='importMediaQ()', ladda="loading", data-style="zoom-out", data-spinner-color="#123456") 
      span( class="ladda-label") {{mediaq}}
  p
    | Record a new trajectory (browser based): 
    button( class="btn btn-md btn-default", ng-click='recordTrajectory()', ladda="loading", data-style="zoom-out", data-spinner-color="#123456") 
      span( class="ladda-label") Start recording
    button( class="btn btn-md btn-default", ng-click='stopRecord()', ladda="loading", data-style="zoom-out", data-spinner-color="#123456") 
      span( class="ladda-label") Stop recording
  p
    {{locations}}
  p
    form(action='/api/trajectories/gpx', enctype='multipart/form-data', method='post')
      input(type='text', name='title')
      |   
      input(type='file', name='upload', multiple='multiple')
      |   
      input(type='submit', value='Upload')
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='delete(user)')
        span.glyphicon.glyphicon-trash.pull-right