div(ng-include='"components/navbar/navbar.html"')
.jumbotron
	.row
		.col-lg-10
			openlayers(id='map', ol-center='center', ol-defaults="defaults")
				ol-marker(ng-repeat="marker in markers", lat="marker.lat", lon="marker.lon", label="marker.label")
				ol-layer(ol-layer-properties="layer", ng-repeat="layer in layers")
		.col-lg-2
			.well
				label(for="thresholdSlider") Current threshold lvl: {{sliderOptions.thresholdValue}} m ({{sliderOptions.renderedTrajectories}}/{{sliderOptions.loadedTrajectories}} trajectories rendered)
				//angular slider
				slider(id="thresholdSlider", ng-model="sliderOptions.thresholdValue", min="sliderOptions.min", step="sliderOptions.step", max="sliderOptions.max", value="sliderOptions.thresholdValue", on-stop-slide="onStopSlide()")
				p Stroke color: 
					input(type="color", ng-model="trajectories.style.stroke.color")
				p Show markers:
					input(type="checkbox", ng-click="toggleMarker()")
