div(ng-include='"components/navbar/navbar.html"')
.jumbotron
	.row
		.col-lg-10
			openlayers(id='map',ng-click="functions.onClick()", ol-center='center', ol-defaults="defaults")
				ol-layer(ol-layer-properties='trajectories')
		.col-lg-2
			.well
				h4 Current threshold lvl: {{headerthing}} km
				slider(ng-model="headerthing",min="testOptions.min", step="testOptions.step", max="testOptions.max", value="headerthing")
