div(ng-controller='FooterCtrl')
  footer.footer
    .container
      p
        | geoVal {{geovalVersion}}
        = ' | '
        a(href='https://github.com/BenSower/geoval/issues?state=open') Report an issue