div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 GeoVal v1.0
    p.lead 
    img(src='assets/images/geoVal.png', alt='GeoVal')

footer.footer
  .container
    p
      | geoVal v1.0.0
      = ' | '
      a(href='https://github.com/BenSower/geoval/issues?state=open') Issues