div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 GeoVal v1.0
    p.lead 
    img(src='assets/images/geoVal.png', alt='GeoVal')

div(ng-include='"components/footer/footer.html"')
