div(ng-include='"components/navbar/navbar.html"')
.container(ng-controller='AnalysisCtrl')
    .container-fluid
        a.btn.btn-primary.btn-lg(href='', ng-click='showTable = !showTable') Toggle Full Table
        a.btn.btn-primary.btn-lg(href='', ng-click='analyse()') Analyse Trajectories
        table.table-responsive.table.table-hover(ts-wrapper='', ng-show='showTable')
            thead
              tr
                th(ts-criteria="id|lowercase") Name
                th(ts-criteria="featureVector.sampleAmount", ts-default='descending') Length
                th(ts-criteria="featureVector.distribution.biggestDistance") Max dist
                th(ts-criteria="featureVector.properties.spoofLvL") Type
            tbody(ng-repeat='trajectory in rawTrajectories', ts-repeat='')
              tr
                td {{trajectory.id}}
                td {{trajectory.featureVector.sampleAmount}}
                td {{trajectory.featureVector.distribution.biggestDistance}}m
                td {{trajectory.properties.spoofLvL}}
                td 
                    a.trash(ng-click='delete(trajectory)')
                        span.glyphicon.glyphicon-trash.pull-right
    .container
        nvd3-line-chart(data='spatialDistanceData', height='700', showLegend='true', showxaxis='true', showyaxis='true', xaxistickformat='xAxisTickFormat_Date_Format()', yaxistickformat='yAxisFormatFunction()')
    .container
        nvd3-line-chart(data='timeGapData', height='700', showLegend='true', showxaxis='true', showyaxis='true', xaxistickformat='xAxisTickFormat_Date_Format()', yaxistickformat='yAxisFormatFunction()')
          
div(ng-include='"components/footer/footer.html"')
