div(ng-include='"components/navbar/navbar.html"')
.container(ng-controller='AnalysisCtrl')
    .container-fluid
        a.btn.btn-default.btn-md(href='', ng-click='showTable = !showTable') Toggle Full Table
        a.btn.btn-default.btn-md(href='', ng-click='analyse()', ladda="isAnalysing", data-style="zoom-out", data-spinner-color="#123456") 
          span( class="ladda-label") {{analyseText}}
        table.table-responsive.table.table-hover(ts-wrapper='', ng-show='showTable')
            thead
              tr
                th(ts-criteria="id|lowercase") Name
                th(ts-criteria="featureVector.sampleAmount", ts-default='descending') Length
                th(ts-criteria="featureVector.spatialMean.biggestDistance") Max dist
                th(ts-criteria="properties.spoofLvL") Type
            tbody(ng-repeat='trajectory in rawTrajectories', ts-repeat='')
              tr
                td {{trajectory.id}}
                td {{trajectory.featureVector.sampleAmount}}
                td {{trajectory.featureVector.spatialMean.biggestDistance}}m
                td {{trajectory.properties.spoofLvL}}
                td 
                    a.trash(ng-click='delete(trajectory)')
                        span.glyphicon.glyphicon-trash.pull-right
        div(ng-repeat='(level,result) in results')
          h3 Level-{{level}} Results
          table.table.table-bordered.table-hover.table-responsive
            thead
                tr
                  th Algorithm
                  th Correct Spoofs
                  th Wrong Spoofs
                  th Correct Trajectories
                  th Wrong Trajectories
                  th Correctly categorized
                  th Training Data
              tbody(ng-repeat='data in result')
                tr
                  td {{data[0]}}
                  td {{data[1]}}
                  td {{data[2]}}
                  td {{data[3]}}
                  td {{data[4]}}
                  td {{data[5]}}
                  td {{data[6]}}
div(ng-include='"components/footer/footer.html"')
